.tc-icon-select .tc-icon {
  margin: 0 5px 0 0;
  vertical-align: middle;
}
.tc-icon-select.ant-select-dropdown-menu-item {
padding: 8px 12px;
}
.ant-select-dropdown-menu-item.tc-icon-select.l2{
padding-left: 20px;
background: #f7f7f7;
  margin: 0;
}
.show-mobile {
  display: none;
}
#flights.search {
    padding: 120px 0;
    margin-bottom: 20px;
    .ant-select-selection__placeholder, .ant-select-search__field__placeholder,::placeholder {
      color: #777!important;
    }
  .grey-box {
    border: 5px solid rgba(255, 255, 255, 0.3215686274509804);
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    .customsearch {
      padding: 8px 10px;
      border-radius: 10px;
      background: #fff;
      .pre-cal.dates .ant-calendar-picker {
        width: 41%!important;
        display: inline-block;
      }
      fieldset.noborder::after {
        display: none;
       }
       .marginbottom{
         margin-bottom: 20px;
       }
      fieldset {
        margin: 0 !important;
        padding: 12px 0 0 30px !important;
        position: relative;
        height: 60px;
        float: left;
        width: 96%;
        color: #999;
        line-height: 1.5;
        &::after {
          content: '';
          position: absolute;
          top: -7px;
          right: 0;
          z-index: 9;
          height: 74px;
          width: 1px;
          background: #dfdfdf;
        }
       
        p {
          margin: 0;
          color: @primary-color;
          font-size: 15px;
          line-height: 1;
        }

        label {
          color: #989898;
          font-size: 13px;
          font-weight: normal;
          display: block;
        }

        .ant-select {
          width: 100% !important;
        }

        .ant-select-selection-selected-value {
          font-size: 15px !important;
          line-height: 1;
          font-weight: normal;
        }

        .ant-select-selection {
          background: none !important;
          border: none !important;
          color: @primary-color;
          box-shadow: none;
          font-weight: 800;
          font-size: 17px !important;
          outline: 0;
          padding: 0 !important;
          margin: 0;

          &:hover,
          &:focus {
            background: none !important;
            border: none !important;
            box-shadow: none;
            color: @primary-color;
            font-weight: 800;
            font-size: 13px;
            outline: 0;
          }

          .ant-select-selection__rendered {
            line-height: 30px;
            margin: 0;
          }

          .ant-select-arrow {
            display: none;
          }
          
        }

        .ant-calendar-picker {
          .ant-input {
            background: none !important;
            border: none !important;
            color: @primary-color  !important;
            box-shadow: none;
            font-weight: 800;
            font-size: 15px;
            outline: 0;
            padding: 0 !important;
            margin: 0;
            line-height: 1;
            text-align: left;
            font-weight: normal;
            height: auto;
          }

          .anticon {
            display: none;
          }
        }

        .tickettype-sel {
          .ant-select-arrow {
            display: block !important;
            font-size: 9px;
            top: 30%;
          }
          .ant-select-selection-selected-value{
            line-height: 1.2!important;
          }
        }
      }

      fieldset.no-padding {
        padding: 0 !important;
      }

      fieldset.cust-padding {
        padding: 12px 20px 0 5px !important;
      }

      .pre-des {
        background: url(/static/images/icon-loc.png) no-repeat center left;
      }

      .pre-cal {
        background: url(/static/images/icon-date.png) no-repeat center left;
      }
      .pre-guest {
        background: url(/static/images/icon-guest.png) no-repeat center left;
        padding-right: 20px!important;
        p{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .selmultiguest {
        position: relative;

        .sel-rm-guest {
          position: absolute;
          display: none;
          width: 100%;
          top: 61px;
          left: -16px;
          z-index: 9;
          background: #ffff;
          padding: 10px;
          font-size: 13px;
          border-radius: 5px;
          max-width: 350px;
          .ant-select-selection__rendered {
            width: 80%;
          }
          .ant-select {
            width: 100% !important;
          }

          .ant-select-selection {
            border: none !important;
            border-bottom: 1px solid #989898 !important;
            border-radius: 0px;
            text-align: left;
            font-weight: normal;
            padding: 0;
            text-align: left !important;
            margin: 0 1%;
            box-shadow: none;
            outline: 0;
            width: 98% !important;
            line-height: normal;
            height: auto;
            padding: 1px 6px !important;
            min-width: 50px !important;
            margin-bottom: 5px;
            .ant-select-selection-selected-value {
              padding-right: 0;
              width: 100%;
              box-shadow: none;
              font-size: 13px !important;
              outline: 0;
            }

            .ant-select-arrow {
              display: block !important;
              font-size: 9px;
              top: 62% !important;
            }
          }

          .closediv {
            text-align: right;
            color: @link-hover-color;
            cursor: pointer;
            font-size: 14px;
            padding: 0px 6px;
          }

          label {
            font-size: 13px !important;
            font-weight: 800 !important;
          }

        }
      }
    }
  }
}
#flights .marginb {
  margin-bottom: 20px;
}
#flights #submit{
  background: @link-hover-color;
  padding: 8px 15px;
}
#flights #submit:hover{
  background: @primary-color;
}
.ant-radio-button-wrapper-checked:first-child,
.ant-radio-button-wrapper-checked,
.ant-radio-button-wrapper-checked:hover {
  border-color: @link-hover-color;
  background: @link-hover-color;
  color: #fff;
}

.ant-radio-group {
  margin-bottom: 10px;
}

#flights .long .ant-select {
  width: 100%;
}

#flights .ant-calendar-picker {
  width: 100%;
}

#flights .options {
  padding: 20px 0;
  text-align: center;
}

.options {
  .list{
    overflow-x: scroll;
  }
}
.clearfix{
  clear: both;
}

#flights .head {
  height: 50px;
  border-bottom: 0;
  font-weight: bold;
}

#flights .body {
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.options .body:nth-child(odd), .options .icon:nth-child(odd) {
  background: #f3f3f3;
}
#flights .icon {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  padding: 4.5px;
}

.flightno {
  font-weight: bold;
  font-size: 15px;
  color: @link-hover-color;
  margin-bottom: 0;
  display: block;
  border-right: 1px solid #bfc5c2;
  text-align: center;
  padding: 10px 0;
}

.search-flight-filter .details .ant-collapse-content {
  background: #dcf3f7;
}

.search-flight-filter .details.ant-collapse-borderless>.ant-collapse-item {
  border: 0;
}

.search-flight-filter .details.ant-collapse>.ant-collapse-item>.ant-collapse-header .arrow {
  left: auto;
  right: 10px;
  top: 55%;
}

.search-flight-filter .details.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  padding: 12px 40px 12px 0;
}

.search-flight-filter .details.ant-collapse-borderless>.ant-collapse-item:last-child .ant-collapse-header {
  font-weight: bold;
  text-align: left;
  display: inline-block;
  background: @link-hover-color;
  padding: 8px 30px 8px 20px;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.search-flight-filter .details.ant-collapse-borderless .ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
  color: #fff;
}

#flights .ant-collapse-content-box {
  background: @primary-color;
}

.search-flight-filter .details.ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
  padding: 10px!important;
  text-align: left;
}

#flights .ant-select .ant-select-arrow {
  background: transparent;
  padding: 0;
  top: 50%;
  right: 11px;
  border-radius: 0;
  color: @primary-color;
}

.search-flight-filter .details.ant-collapse-borderless>.ant-collapse-item {
  text-align: right;
}

.search-flight-filter .details p {
  margin: 0 !important;
  color: #333;
  padding-left: 15px;
  font-size: 14px;
}

.flight-opr-full-name {
  text-align: center;
  background-color: #f7dcdc;
  padding: 5px 15px;
  border-radius: 20px;
  float: right;
}

.flight-result {
  // -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
  // -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
  // box-shadow: 0px 0px 10px 0px rgba(152, 152, 152, 0.5);
  margin-bottom: 20px;
}

.flight-box {
  background: #333;
}

.showFare {
  cursor: pointer;
  display: inline-block;
  margin: 5px 0 0 0;
  color: #fff;
}

.flightinfo.border:first-child {
  border-top: 0;
  padding: 0;
}

.flightinfo {
  color: #666;
  cursor: pointer;
  min-height: 90px;
  padding: 0;
  margin: 20px;
  border-top: 1px solid #cecece;
  padding-top: 20px;
}

.flightinfo img {
  margin-right: 10px;
}

ul.timing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 24px 0 10px;
  text-align: center;
  line-height: normal;
  list-style-type: none;
}

.timing li {
  float: left;
  vertical-align: top;
  width: 50px;
  position: relative;
}

.timing .long {
  width: 25%;
  text-align: left;
}

.timing .long2 {
  width: 45%;
}
.timing .long:nth-of-type(2) {
  padding-left: 20px;
}
.timing li:nth-child(1):after,
.timing li:nth-child(2):after {
  content: url(/static/images/arrow-right-round.png);
  position: absolute;
  font-size: 24px;
  top: 14%;
  right: 0;
  color: #b3b1b1;
  z-index: 999;
}
.timing li:nth-child(2):after {
  right: 5%;
}
.timing h6,
.timing h2 {
  margin: 0;
}

.timing h6 {
  color: #333333;
  font-size: 13px;
  font-weight: normal;
}

.timing h2 {
  font-size: 15px;
  line-height: 1.4;
  font-weight: normal;
  color: @link-hover-color;
  margin: 0;
}

.details{
  padding: 4px 0;
  .ant-collapse-header{
    .arrow,.ant-collapse-arrow{
      left: auto !important;
      right: 10px !important;
      top: 55% !important;
      margin: 0!important;
    }
  }
}

.stop-num {
  text-align: center;
}

.direct {
  display: block;
}

.price-wrap {
  color: #fff;
  padding: 25px;
  min-height: 200px;
  background: #333;
}

.total-price {
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
}

.tax {
  margin-top: 0;
  font-style: italic;
  font-size: 12px;
}

.price-wrap a {
  color: #efa69f;
  font-size: 13px;
  font-style: normal;
}

.price-wrap .select,
.price-wrap .ant-btn-primary[disabled] {
  background: transparent !important;
  border: 0;
  border-radius: 0;
  border-top: 1px solid #fff;
  font-size: 15px;
  padding: 15px 10px 0 0;
  margin: 10px 0;
  text-align: left;
  color: #fff;
  display: block;
  width: 80%;
  position: absolute;
  bottom: 5px;
}

.price-wrap .ant-btn-primary[disabled] {
  border-top: 1px solid #666;
  color: #666;
}

.price-wrap .select i {
  float: right;
}

.price-wrap .select:hover {
  border-top: 1px solid #fff;
  color: #eee;
}

.price-wrap p {
  margin: 15px 0;
}

.showFare {
  cursor: pointer;
  display: inline-block;
  margin: 5px 0 0 0;
  color: #fff;
}
.options{
  padding: 10px 20px 20px;
}
.options h1{
  font-size: 18px;
  margin: 0;
  color: @primary-color;
}
.options .col {
  display: block;
  width: 200px;
  margin: 0px 10px;
}

.options .col-details {
  min-width: 220px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  margin: 10px 6px;
  display: block;
  float: left;

  &:first-child {
    border: none;
  }
  .price{
    font-size: 20px;
  }
  .head{
    background: @primary-color;
    font-size: 14px;
    padding: 10px 15px;
    color: #fff;
    line-height: normal;
    font-weight: bold;
  }

  .body{
    padding: 15px 0;
    font-size: 14px;
  }
  .icon {
    padding: 10.5px;
    font-size: 20px;
  }
  .body, .icon {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    &:last-child{
      border: none;
    }
  }

}
.fares-breakdown{
  text-align: center;
}
.options .col-price {
  height: 110px;
  text-align: center;
  padding: 15px;

  .ant-btn {
    display: inline-block;
    border-radius: 3px;
    line-height: normal;
    border: none;
    padding: 8px 25px;
    margin: 5px 0 0;
    border-radius: 20px;
    background: @link-hover-color;
  }
}

.options .list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  text-align: center;
}

.options .space {
  height: 112px;
  line-height: 122px;
  font-size: 20px;
  color: rgb(102, 102, 102);
  text-align: center;
}

#flights {
  .ant-menu-submenu-title .anticon+span {
    font-weight: bold;
  }

  .ant-menu-root {
    border-left: 1px solid #e8e8e8;
    border-right: 0;
  }

  .ant-menu-item:after {
    left: 0;
    border-left: 3px solid @primary-color;
    border-right: 0;
  }

  .ant-menu-item-selected {
    font-weight: bold;
  }

  .ant-select-selection {
    min-width: 70px;
  }

  small {
    display: block;
  }

  .ant-select {
    width: 100%;
  }

  .ant-radio-wrapper {
    margin-bottom: 20px;
  }

  .slider-bar {
    margin: 10px 20px 0 30px;
  }

  .ant-slider-with-marks {
    margin-bottom: 18px;
  }
}

#flight-search-vertical .ant-calendar-picker {
  min-width: 200px;
}
/*-- Flight Search Filter --*/
#filter-mobile{
  display: none;
  .ant-collapse-item{
    border: 0;
    text-align: center;
  }
  .ant-collapse{
    background: none;
  }
  .anticon-right{
    display: none;
  }
  .ant-collapse-header{
    padding: 8px 20px;
    display: inline-block;
    background: #e6e6e6;
    margin: auto auto 10px;
    border-radius: 100px;
    color: @primary-color;
    font-weight: bold;
    font-size: 16px;
  }
  .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
    text-align: left;
  }

}
.search-flight-filter {
  background: #f6f6f6;
  padding: 50px 0;
  .wrap {
    padding: 0px;
    margin: 0 auto;
  }
  .filter-sec {
    padding: 10px 20px;
    margin: 5px 0 10px;
    border: 1px solid #e8e8e8;
    background: #ffffff;
    border-radius: 4px;
    .ant-radio-group {
      width: 100%;
      .ant-radio-button-wrapper {
        vertical-align: middle;
        font-size: 14px;
        padding: 6px 0;
        line-height: normal;
        height: auto;
        width: 33%;
        text-align: center;
      }
    }
    .search-field {
      padding: 10px 0;
      position: relative;
      width: 100%;
      .anticon.anticon-swap {
        position: absolute;
        transform: rotate(91deg);
        z-index: 99;
        cursor: pointer;
        bottom: -30px;
        margin: 0 auto;
        width: 30px;
        left: 0;
        right: 0;
      }
      .ant-btn {
        border-radius: 4px;
        display: block;
        margin: 0 auto;
        padding: 8px 40px;
        outline: 0;
        &:hover,
        &:focus {
          border-color: #666;
        }
      }
      .ant-select-dropdown {
        .ant-select-dropdown-menu-item-selected {
          font-weight: normal;
        }
      }
      .field-title {
        font-weight: 500;
        font-size: 14px;
      }
    }
    h3 {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 15px;
      color:@primary-color;
    }
    p {
      margin: 0;
    }
    .ant-checkbox-wrapper {
      font-size: 13px;
    }
    .show-value {
      border: none;
      padding: 0;
      height: auto;
      line-height: normal;
      text-align: right;
      border: none;
      outline: 0;
      width: 20px;
      display: inline-block;
      &:hover,
      &:focus {
        border: none;
        outline: 0;
        box-shadow: none;
      }
    }
  }
}
.travel-banner {
  min-height: 200px;
  img {
    width: 100%;
  }
}
// .shadow-box {
//   -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
//   -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
//   box-shadow: 0px 0px 10px 0px rgba(152, 152, 152, 0.5);
// }
.flight-search-result {
  padding: 0;
  background: transparent;
  margin: 5px 0 10px;
  .ant-table {
    margin-bottom: 0;
  }
  .all-airlines {
    background: #ffffff;
    .ant-table-content tr th {
      background: #ffffff;
    }
    .ant-table-tbody > tr > td {
      background: #ffffff;
      font-weight: 600;
      min-width: 100px;
      a {
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
  .scroll-div{
    overflow-x: auto !important; 
    table{
      tr{
        th:nth-child(n+6),td:nth-child(n+6){
          display: none;
        }
      }
    }
  }
}

.filter-result-section {
  margin: 5px 0;
  background: #ffffff;
  padding: 0;
  .travel-fair {
    height: 100%;
    background: #333333;
    padding: 25px 15px 10px;
    position: relative;
    .fair-info {
      font-size: 20px;
      color: #ffffff;
      font-weight: 600;
      text-align: left;
      line-height: normal;
      margin: 0;
      span {
        display: block;
        font-size: 14px;
        font-weight: normal;
      }
    }

    .query-and-info {
      padding: 15px 0;
      .hasinfo {
        color: #ffffff !important;
        cursor: pointer;
        &:hover {
          color: #999!important;
        }
      }
      p {
        margin: 0;
        padding: 4px 0;
        line-height: normal;
        font-size: 14px;
        color: #ffffff !important;
      }
    }
    .sel-deal {
      position: absolute;
      left: 0;
      bottom: 2px;
      display: block;
      width: 98%;
      border-radius: 0;
      outline: 0;
      margin: 0 auto;
      right: 0;
      text-align: left;
      background: none;
      border:0;
      padding: 15px 15px 10px;
      border-top: 1px solid rgb(179, 177, 177);
      font-size: 18px;
      line-height: 1;
      color: #fff;
      height: auto;
      .flt-rgt{
        float: right;
      }
      &:hover{
        color: #999;
      }
      &:focus{
        outline: 0;
      }
      .anticon {
        float: right;
      }
  }
  }
}
.rules-and-tc {
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 4px 15px;
      color: #ffffff;
      font-size: 14px;
      background: #fd7d00;
      margin-right: 1px;
      cursor: pointer;
      &:hover,
      &.active {
        background: #003478;
      }
    }
  }
}
.flight-opr-full-name{
  font-size: 12px;
}
.ant-modal{
  z-index: 99999 !important;
}
.ant-modal.ant-modal-header {
  text-align: left;
}
.ant-select-dropdown-menu-item {
  white-space: initial;
  font-size: 14px;
  letter-spacing: normal;
  line-height: normal;
}

.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.ant-modal-body{
  padding: 15px !important;
}
.deallist-res{
  .ant-modal-body{
    padding: 15px !important;
    overflow: scroll;
    width: 100%;
    min-width: 100%;
  }
}
@media (max-width: @screen-xl) {
#flights.search .grey-box .customsearch fieldset {
  border-bottom: 1px solid #ddd;
}
#flights.search .grey-box .customsearch fieldset::after {
  background: transparent;
}
#flights.search .grey-box .customsearch fieldset {
  width: 100%;
}
.search .show-mobile{
    display: block;
}
.pre-guest.active, .sel-rm-guest {
  display: none!important;
}
#flights .ant-btn {
  width: 100%;
  display: block;
  background: @link-hover-color;
  }
  #flights .ant-btn:hover{
    background: @primary-color;
  }
}
@media (max-width: @screen-lg) {
	#flights {
	  .ant-calendar-picker,
	  .ant-select,
	  .long .ant-select,
	  .long .ant-calendar-picker {
		width: 100%;
    }
    ul.timing {
      margin: 0;
    }
    .pre-cal.dates .center input {
    text-align: center!important;
    }
    .search-flight-filter .details p{
      padding-left: 0;
    }
	  .marginb {
		margin: 0;
	  }
	  .visible-lg {
		display: none;
	  }
  
	  .flight-result .ant-btn {
		width: 100%;
	  }
	  ul.timing {
		margin: 0;
		padding: 0;
	  }
	  .timing .long {
		width: 22%;
	  }
  
	  .timing li {
		text-align: center;
	  }
  
	  .timing h2 {
		font-size: 15px;
		margin: 0;
	  }
  
	  .flight-result .anticon {
		display: inline;
	  }
  
	  .flight-result .ant-collapse-content>.ant-collapse-content-box {
		text-align: center !important;
	  }
  
	  .flightinfo .ant-row {
		text-align: center;
	  }
  
	  .price-wrap {
		min-height: 100%;
	  }
  
	  .price-wrap .select,
	  .price-wrap .ant-btn-primary[disabled] {
		margin: 10px 0 0;
		position: relative;
		bottom: 0;
		border-top: 1px solid #fff;
	  }
  
	  .options {
		display: block;
		overflow: auto;
	  }
  
	  .options .list {
		display: inline-flex;
	  }
	  .flight-opr-full-name{
		float: none;
		margin: 10px 0;
		display: inline-block;
	  }
	}
	.filter-result-section .travel-fair .sel-deal{
		position: relative;
		padding-bottom: 0;
    }
    #filter-desktop{
      display: none;
    }
    #filter-mobile{
      display: block;
    }
    .filter-result-section .travel-fair {
      text-align: center;
    }
    #flights.search .grey-box .customsearch .marginbottom {
      margin-bottom: 0;
    }
    .flight-result .total-price{
      margin: 0;
    }
  }
  
  @media (max-width: @screen-md) {
	.flight-result {
	  text-align: center;
	}
  .flight-opr-full-name {
    text-align: center;
    float: none;
    margin: 10px auto 0;
    display: inline-block;
}
	#flights .timing .long,
	#flights .timing .long2,
	#flights .timing li {
	  width: 100%;
	  float: none;
	}
  
	.flightinfo .timing img {
	  display: none;
	}
	.flightno {
	  border-right: 0;
	  padding: 0;
  }
	#flights .timing h2 {
	  font-size: 17px;
  
	}
  .search-flight-filter .details.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    text-align: center;
}
	.search-flight-filter .details.ant-collapse-borderless>.ant-collapse-item {
	  text-align: center;
	  margin:0;
	}
  .details {
    padding: 0;
}
	.timing li:nth-child(1):after,
	.timing li:nth-child(2):after {
	  display: none;
	}
	.filter-result-section .travel-fair {
	  padding: 30px 20px 10px;
	}
	#flights .anticon {
	  display: inline-block;
	}
  
	.search-flight-filter {
	  h1 {
		font-size: 24px;
	  }
	}
  }
  @media (max-width: @screen-sm) {
	.timing li:nth-child(1):after,
	.timing li:nth-child(2):after {
	  display: none;
  }
  #flights.search {
    padding: 20px 0;
  }
}
  @media (max-width: @screen-xs) {
	.depart-and-arrival {
	  li {
		border-bottom: 1px solid #333333;
	  }
	}
  }

.fare-breakdown-table {
    width: 100%;
    tr {
        padding: 5px;

        td:nth-child(1) {
            width: 180px;
        }

        td:nth-child(2) {
            width: 20px;
            text-align: right;
        }

        td:nth-child(3) {
            width: 80px;
            text-align: right;
        }
    }
}