@search-btn-text-color:         #f1f2f6;
@search-btn-color:              #ffa502;
@search-btn-hover-color:        #eccc68;
@search-btn-hover-border-color: #FFC312;

@result-btn-color:              #ff6348;
@result-btn-hover-color:        #ff7f50;
@result-btn-text-color:         #dfe4ea;
@result-btn-hover-border-color: #ff6b81;

@tab-header-color:              #a4b0be;
@tab-header-hover-color:        #D980FA;
@active-tab-header-color:       #B53471;

@highlight-text-color:          #EE5A24;
@success-color:                 #A3CB38;
@warning-color:                 #EE5A24;    

#hotelbeds {

    .map-icon svg {
        color: @result-btn-color
    }

    .hotel {
        .ant-typography.ant-typography-secondary {
            color: rgba(0, 0, 0, 0.45) 
        }

        .ant-typography-warning {
            color: @highlight-text-color
        }

        .btn-details {
            background-color: @result-btn-color;
            color: @result-btn-text-color;
        }

        .btn-details:hover {
            background-color: @result-btn-hover-color;
            border-color: @result-btn-hover-border-color;
        }

        .bullet-icon-yes {
            color: @success-color;
        }
        .bullet-icon-no {
            color: @warning-color;
        }


        .info {
            .ant-tabs-tab {
                color: @tab-header-color;
            }

            .ant-tabs-tab:hover {
                color: @tab-header-hover-color;
            }

            .ant-tabs-tab-active {
                color: @active-tab-header-color;
            }
        }
    }



    #hotelbeds-details {
        .hotel-photos {
            color:'#fff';
            background:'rgba(0,0,0,.5)';
        }

    }
    
}

#hotelbeds-search-form {

    .search-btn {
        background-color: @search-btn-color !important;
        color: @search-btn-text-color;
    }

    .search-btn:focus, .search-btn:hover {
        background-color: @search-btn-hover-color !important;
        opacity: 0.8;
        border-color: @search-btn-hover-border-color;
    }
}