@import "~antd/dist/antd.less";
@import "~nprogress/nprogress.css";
@import "~../styles.less";

// For the full set of variables
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@primary-color: #af0201;
@layout-header-background: #af0201;
@layout-header-padding: 0 64px;

@import "../less/flights-result3.less";
@import "../less/hotelbeds-result.less";
@import "../less/itinerary-builder.less";
@link-hover-color: #af0201;

// for travelcloud-antd documentation
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #800;
}

h1 {
  font-weight: normal;
  font-size: 32px;
}

h2 {
  font-weight: normal;
  font-size: 24px;
}

#nprogress {
  .bar {
    background: #500;
    height: 5px;
  }
  .spinner-icon {
    width: 24px;
    height: 24px;
    border: solid 3px transparent;
    border-top-color: #500;
    border-left-color: #500;
  }
  .peg {
    box-shadow: 0 0 10px #500, 0 0 5px #500;
  }
  .spinner {
    right: initial;
    left: 20px;
    top: 20px;
  }

}

.ant-layout-header .logo {
  color: #ddd;
  float: left;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.ant-list-item-content {
  width: 100%;
}

.ant-menu-dark .ant-menu-item {
  color: rgba(255, 255, 255, 0.85)
}

.main-container {
  min-height: 1000;
  background-color: '#fff';
  margin: 48px;
  padding: 32px;
}

.header-index {
  padding-top: 20px;
}

.printDiv > div {
  padding: 0 !important;
  margin: 0 !important;
}

// CSS for hiding the default content so only PrintDiv component is printed
@media print {
  #__next {
    display: none;
  }
}

// move to other less file
.vertical-checkboxes, .vertical-radios {
	display: block;
	width: 100%;
	.ant-checkbox-group-item, .ant-radio-wrapper {
		display: block;
		margin-right: 0;
		position: relative;
	}
	.ant-checkbox, .ant-radio {
		position: absolute;
    top: 50%;
    margin-top: -10px;
	}
	.ant-checkbox-inner, .ant-radio-checked .ant-radio-inner {
		&::after {
			left: 29%;
		}
	}
	.ant-checkbox + span, .ant-radio + span {
    padding-right: 0;
    padding-left: 32px;
    display: block;
		margin-bottom: 5px;
	}
}

// occupancy button
.number {
	.anticon {
		font-size: 18px;
		cursor: pointer;
		border-radius: 50%;
		overflow: hidden;
		padding: 1px;
		color: @primary-color;
		/*background: @primary-color;
		color: #fff;
		&:hover {
			color: @primary-color;
			background: #fff;
		}*/
	}
	.disabled {
		color: #848484;
		cursor: default;
	}
}
#hotelbeds-result2 {
  margin-top: 30px;
  .ant-tabs-content {
    .right.book {
      color: @primary-color;
    }
    .ant-statistic {
      display: inline-block;
      .ant-statistic-content,
      .ant-statistic-content-suffix {
        color: @link-hover-color;
        margin-left: 5px;
      }
    }
  }
  .room-row {
    padding: 10px 10px 0;
    &:nth-child(odd) {
      background: #f1f6f9;
    }
    .ant-tag {
      padding: 2px 7px 0;
    }
    .ant-collapse {
      background: none;
      .ant-collapse-content-box {
        margin-top: 5px;
      }
      ul,
      ol {
        padding: 0 0 0 20px;
      }
      li {
        padding: 2px 0;
        font-size: 0.9em;
        line-height: 1;
      }
    }
    .ant-collapse-borderless > .ant-collapse-item {
      border: 0;
      .ant-collapse-content > .ant-collapse-content-box {
        padding: 0;
      }
    }
    .type-row {
      border-bottom: 1px solid #ddd;
      padding: 10px 0 15px 35px;
      button.ant-btn {
        font-family: @font-family;
        font-weight: bold;
        padding: 10px 20px 5px 20px;
        min-width: 180px;
        sup {
          text-transform: initial;
          font-weight: normal;
        }
      }
      &:last-of-type {
        border: 0;
      }
      h5 {
        color: @text-color;
        margin: 0;
        font-weight: bold;
        font-size: 0.9em;
      }
      .price-info {
        &,
        b,
        li {
          color: @link-hover-color;
        }
      }
    }
  }
  .ant-list-item {
    border-bottom: 0;
  }
  .hotel {
    width: 100%;
    background-color: #e9f6f9;
    border: 1px solid #86ddf1;
    .gallery {
      .ant-list-item {
        margin: 0;
      }
      .ant-tabs-bar {
        margin: 0;
      }
      .gallery-pic {
        height: 70px;
        width: 100%;
        background-size: cover;
        display: inline-block;
        background-position: center center;
      }
    }
    .ant-collapse-content-box {
      padding: 25px;
    }
    .ant-tabs-bar {
      margin: 0 0 25px 0;
    }
    .tab-map {
      p {
        line-height: 1.2;
        font-size: 16px;
      }
      .gmap {
        height: 100%;
        min-height: 300px;
      }
    }
    .tab-map .ant-list-item {
      margin: 0 0 10px;
      padding: 0;
      &.map-row {
        background: #fff;
        padding: 0 10px;
        &:nth-child(odd) {
          background: #f1f6f9;
          padding: 10px;
        }
        &:first-of-type {
          border: 0;
        }
        .ant-row {
          width: 100%;
        }
      }
      span {
        font-family: @font-family;
      }
    }
    p {
      margin: 0 0 10px 0;
      font-size: 1em;
    }
    .tab-desc {
      p {
        text-align: justify;
      }
      h3 {
        font-size: 1.3em;
        margin: 20px 0 10px;
        text-align: left;
        svg {
          color: @link-hover-color;
          vertical-align: middle;
          font-size: 25px;
        }
      }
    }
    .facility {
      & > .ant-col {
        background: #e4eff9;
        &:nth-child(odd) {
          background: #f1f6f9;
        }
        .facility-box {
          padding: 0 15px 10px;
        }
        .ant-tag-red {
          font-size: 11px;
          padding: 4px 5px 3px 5px;
          line-height: 1;
        }
      }
      svg {
        color: @link-hover-color;
      }
      h4 {
        color: @primary-color;
        font-weight: bold;
        font-family: @font-family;
        margin-bottom: 10px;
        text-align: center;
        padding: 10px;
        line-height: 1.2;
        border-bottom: 1px solid #a0d0f5;
      }
      ul {
        padding: 0;
        list-style-type: none;
      }
    }

    .ant-tabs-ink-bar {
      height: 3px;
    }
    .ant-collapse-content-box {
      padding-top: 0;
    }
    .ant-tabs-nav {
      width: 100%;
      .ant-tabs-tab {
        color: @link-hover-color;
        font-family: @font-family;
        &.ant-tabs-tab-active {
          color: @primary-color;
          font-weight: bold;
        }
      }
    }
    .ant-tabs-nav .ant-tabs-tab {
      width: 30%;
      text-align: center;
      color: #999;
    }
  }
  .gallery {
    background: #f1f6f9;
    padding: 10px 20px;
    .ant-tabs-nav .ant-tabs-tab {
      width: 100%;
      text-align: left;
      padding: 10px 20px 0 0;
      margin: 0;
      &.ant-tabs-tab-active {
        color: @link-hover-color;
      }
    }
  }
  .ant-collapse-content,
  .ant-collapse > .ant-collapse-item {
    border: 0;
  }
  .ant-collapse-header {
    padding: 0;
  }
  h3 {
    font-size: 1.1em;
    margin: 0;
    font-weight: normal;
    color: @primary-color;
    span {
      padding: 6px 5px;
      //background: #c7e4ea;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      svg {
        color: @link-hover-color;
      }
    }
  }
  .hotel-cover {
    max-height: 200px;
    min-height: 170px;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  .hotel-info {
    padding: 18px 25px 20px 0;
    position: relative;
    height: 100%;
    svg {
      vertical-align: top;
    }
    .address {
      margin: 0 0 10px 0;
      font-size: 13.5px;
      color: #999;
      text-transform: uppercase;
      svg {
        color: @link-hover-color;
        margin-right: 2px;
      }
      a {
        text-transform: initial;
        color: @link-hover-color;
      }
      .ant-col:first-of-type {
        max-width: 18px;
      }
    }

    .details-btn {
      position: absolute;
      right: 25px;
      width: 100%;
      bottom: 18px;
    }
    h2 {
      font-size: 1.2em;
      margin: 0 0 5px 0;
    }
    .right {
      text-align: right;
    }
    .price {
      font-size: 1.3em;
      color: #cc2020;
      font-weight: bold;
      margin: 20px 0 2px 0;
      sup,
      s {
        font-weight: normal;
      }
      sup {
        color: #888;
        font-size: 0.7em;
      }
      s {
        color: #999;
        font-size: 0.9em;
        font-style: italic;
      }
    }
    button.ant-btn {
      padding: 12px 12px 12px 15px;
      font-size: 15px;
      line-height: 1;
      min-width: 190px;
      i {
        color: #fff;
        font-size: 0.8em;
        vertical-align: middle;
      }
    }
  }
}